@import "fonts";
// @import "enhanced_fonts";
@import "mq";
@import "palette";
// @import "enhancer";
// gu_grid pulls the css for gs-container and content__main-column
@import "gu_grid";
@import "share";

$black: #121212;
$yellow: #ffe500;
$grey: #ededed;

figure.element, .element-atom, .interactive-atom {
    margin: 0;
    padding: 0;
}

p {
    font-family: $f-serif-text;
    font-size: 17px;
    line-height: 150%;
    margin-bottom: 12px;
}

.standfirst p {
    font-size:24px;
    line-height: 115%;
}

.greta-wrapper {
    .headline {
        position: absolute;
        top: -100px;
    }
    small {
        font-family: GuardianTextSans,Guardian Text Sans Web,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
        font-size: 0.75rem;
        line-height: 1.5;
        font-weight: 400;
        // word-wrap: break-word;
        color: #767676;
        display: block;
        // padding: 0 10px;
    }
}

.top-wrapper {
    @include mq(desktop) {
        background-color: $black;
    }
    &__inner {
        color: white;
    }
    .stick-me {
        display: flex;
        position: relative;
        top: 0;
        flex-direction:column-reverse;
        @include mq(desktop) {
            flex-direction:row;
        }
    }
    .left {
        position: relative;
        z-index: 1000;
        margin-top: -20vh;
        @include mq(desktop) {
            width: 40%;
            margin-top: unset;
        }
        .text-wrapper {
            height: 60vh;
            display: flex;
            &:nth-child(1) {
                height: 30vh;
            }
            &:nth-child(3) {
                margin-bottom: 20vh;
                @include mq(desktop) {
                    // margin-bottom: 0;
                }
            }
            @include mq(desktop) {
                align-items: center;
                min-height: 100vh;
                min-height: -webkit-fill-available;
                &:nth-child(1) {
                    height: 100vh;
                }
            }
            h1 {
                font-family: $f-titlepiece;
                margin: auto 0;
                padding-left: 10px;
                font-size: 28px;
                line-height: 125%;
                opacity: 0;
                transition: opacity 0.5s;
                max-width: 90%;

                @include mq(mobileLandscape) {
                    margin-left: 14px;
                }

                
                @include mq(desktop) {
                    padding: 0;
                    max-width: 350px;
                    font-size: 32px;
                }
                span {
                    background-color: #121212;
                    position: relative;
                    white-space: pre-wrap;
                    padding-bottom: 4px;
                    padding-right: 4px;
                    box-shadow: -4px 0 0 #121212;
                    display: inline;
                }
                .yellow {
                    color: $yellow;
                }
                &.inView {
                    opacity: 1;
                    transition: opacity 0.5s;
                }
            }
            &:nth-child(1) {
                display: block;
                @include mq(desktop) {
                    display: flex;
                }
            }
        }
        .standfirst {
            font-family:$f-headline-full;
            font-weight: 400;
            border-top: 1px solid $grey;
            background: $black;
            padding: 0 10px;
            @include mq(mobileLandscape) {
                padding: 0 20px;
            }
            @include mq(desktop) {
                background-color: transparent;
                padding-left: unset;
            }
            @include mq(leftCol) {
                display: flex;
            }
            &__tag {
                @include mq(leftCol) {
                    width: 160px;
                }
                @include mq(wide) {
                    width: 260px;
                }
                p {
                    font-size: 20px;
                    font-family:$f-headline-full;
                    font-weight: bold;
                    color: $black;
                    background-color: $yellow;
                    width: max-content;
                    padding: 2px 10px;
                    margin-left: -10px;
                    margin-bottom: 4px;
                    @include mq(mobileLandscape) {
                        margin-left:0;
                    }
                    @include mq(desktop) {
                        font-size: 20px;
                        margin-left: 0;
                    }
                }
            }
            &__inner {
                font-family:$f-headline-full;
                font-weight: 400;
                margin-right: 20px;
                font-size: 24px;
                line-height: 115%;
                padding-bottom: 40px;
                margin-bottom: 0;
                padding-top: 2px;
                @include mq(desktop) {
                    width: 300px;
                }
                @include mq(leftCol) {
                    border-left: 1px solid $grey;
                    padding-left: 10px;
                }
            }
            &__byline {
                color: $yellow;
                a {
                    text-decoration: none;
                    color: $yellow;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    .right {
        position: sticky;
        top: 0;
        align-self: flex-start;
        width: 100%;
        height: 100vh;
        @include mq(desktop) {
            width: 60%;
        }
        .image-wrapper {
            position: relative;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                opacity: 0;
                visibility: hidden;
                transition: opacity 2s;
                &:nth-child(1) {
                    opacity: 1;
                    visibility: visible;
                }
            }
            &.first-burst {
                img:nth-child(2) {
                    opacity: 1;
                    visibility: visible;
                    transition: opacity 2s;
                }
            }
            &.second-burst {
                img:nth-child(3) {
                    opacity: 1;
                    visibility: visible;
                    transition: opacity 2s;
                }
            } 
            &.third-burst {
                img:nth-child(4) {
                    opacity: 1;
                    visibility: visible;
                    transition: opacity 2s;
                }
            } 
        }
    }
    
}

.content-wrapper {
    .big-pic {
        position: relative;
        &__image-wrapper {
            width: calc(100% + 20px);
            height: 100vh;
            margin-left: -10px;
            position: sticky;
            top: 0;
            @include mq(desktop) {
                // height: calc(100vh - 60px);
                // top: 30px;
            }
            @include mq(mobileLandscape) {
                width: calc(100% + 40px);
                margin-left: -20px;
            }
            &__image {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                opacity: 0;
                transition: opacity 1.5s;
            }
            &.right {
                img {
                    object-position: right;
                    @include mq(desktop) {
                        object-position: center;
                    }
                }
            }
            &.top {
                img {
                    object-position: center 13%;
                }
            }
            &.move-right {
                height: 80vh;
                top: 10vh;
                @include mq(tablet) {
                    height: 100vh;
                    top: 0;
                }
                img {
                    @include mq(leftCol) {
                        margin-left: 161px;
                        width: 979px;
                    }
                    @include mq(wide) {
                        margin-left: 239px;
                        width: 1060px;
                    }
                }
            }
        }
        
        
        &__text-wrapper {
            height: 100vh;
            // background: red;
            position: relative;
            z-index: 1000;
            display: flex;
            align-items: center;
            
            h2 {
                color:white;
                font-weight: bold;
                max-width: max-content;
                font-family: $f-titlepiece;
                margin: auto 0;
                padding-left: 10px;
                font-size: 28px;
                line-height: 125%;
                max-width: 90%;
                @include mq(desktop) {
                    margin-left: -15px;
                    font-size: 36px;
                    max-width: 580px;
                }
                span {
                    background-color: #121212;
                    position: relative;
                    white-space: pre-wrap;
                    padding-bottom: 4px;
                    padding-right: 4px;
                    box-shadow: -4px 0 0 #121212;
                    display: inline;
                }
                svg {
                    width: 30px;
                    height: 21px;
                    margin-right: 4px;
                    @include mq(desktop) {
                        width: 38px;
                        height: 27px;
                    }
                }
            }
            &.content__main-column {
                border-left: none;
            }
        }
        small {
            font-family: GuardianTextSans,Guardian Text Sans Web,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
            font-size: 0.75rem;
            line-height: 1.5;
            font-weight: 400;
            // word-wrap: break-word;
            color: #767676;
            display: block;
            padding: 0 10px;
            position: relative;
            background-color: white;
            
            width: calc(100% + 20px);
            padding-bottom: 20px;
            // max width desktop
            margin-left: -10px;
            @include mq(mobileLandscape) {
                padding:0 20px;
                padding-bottom: 16px;
                margin-left: -20px;           
            }
            @include mq(desktop) {
                padding-bottom: 4px;
            }
            @include mq(leftCol) {
                margin-left: 141px;
                padding-left: 10px;
            }
            @include mq(wide) {
                margin-left: 218px;
            }
        }
    }
}

.inline-image {
    width: 100%;
    img {
        width: 100%;
    }
    .showcase {
        @include mq(leftCol) {
            width: 780px;
            margin-left: -160px;
            z-index: 90;
            position: relative;
        }
        @include mq(wide) {
            width: 860px;
            margin-left: -240px;
        }
    }
    small {
        font-family: GuardianTextSans,Guardian Text Sans Web,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
        font-size: 0.75rem;
        line-height: 1.5;
        font-weight: 400;
        word-wrap: break-word;
        color: #767676;
    }
}

.credits {
    border-top: 1px solid $grey;
    margin-top: 40px;
    padding: 4px 0 20px 0;
    line-height: 115%;
    @include mq(desktop) {
        padding: 4px 0 20px 10px;
    }
    p {
        font-family: $f-sans-serif-text;
        margin-bottom: 4px;
    }
    strong {
        font-weight: bold;
    }
}

.content__main-column {
    @include mq(leftCol) {
        &::before {
            content: '';
            width: 1px;
            position: absolute;
            left: 0px;
            background-color: $grey;
            top: -40px;
            bottom: -13px;
        }
    }
}

small.content__main-column {
    &::before {
        display: none;
    }
}

.big-pic__text-wrapper.content__main-column {
    @include mq(leftCol) {
        &::before {
            display: none;
            content: '';
            width: 1px;
            position: absolute;
            left: 0px;
            background-color: $grey;
            top: calc(50vh - 17px);
            bottom: -13px;
        }
    }
    &.small::before {
        display: none;
    }
}


.dropcap-me:first-letter {
    font-family: $f-titlepiece;
    font-size: 120px;
    line-height: 0.8;
    font-weight: bold;
    float: left;
    margin-top: -1px;
    margin-right: 8px;
    @include mq(desktop) {
        margin-top: -12px;
        line-height: 1;
    }
}

.dropcap-me {
    border-top: 1px solid $grey;
    margin-top: 60px;
    &:nth-child(1) {
        margin-top: 40px;
        @include mq(desktop) {
            margin-top: 24px;
        }
    }
}

.big-pic.inView {
    .big-pic__image-wrapper {
        &__image {
            opacity: 1;
            transition: opacity 1.5s;
        }
    }
    .big-pic__text-wrapper {

    }
}
.meta-area {
    padding-top: 4px;
    .rounded-icon {
        border: 1px solid $grey;
        &:hover {
            background-color: $black;
            svg {
                fill:white;
            }
        }
    }
    .meta__extras {
        border-top: none;
    }
    @media (max-width: 979px) {
        border-top: 1px solid $grey;
        background-color: $black;
        color: white;
        padding-bottom: 10px;
        .social__item {
            svg {
                fill: white;
            }
            .rounded-icon {
                border: 1px solid white;
            }
        }
    }
}



.ios, .android {
    figure.element, .element-atom, .interactive-atom, .greta-wrapper {
        // overflow: hidden;
        background-color: white;
    }
    .standfirst__tag {
        p {
            margin-top: 0;
        }
    }
    .standfirst__inner {
        margin-top: 0;
    }
    .content__dateline {
        font-size: 15px;
        margin-top: 4px;
    }
    .meta__extras {
        display: none;
    }
    small {
        font-size: 15px!important;
        width: 100%!important;
        z-index: 10000!important;
        display: block;
    }
    .credits {
        p {
            margin-top: 4px;
        }
    }
    .content-wrapper .big-pic__image-wrapper.move-right {
        top: 5vh;
    }

}