<div class="interactive-wrapper">
    <div class="wrapper gs-container">
        <div class="stick-me">
            <div class="left">
                <div class="text-wrapper">
                    <h1 id="quoteone" class="">This is quote number one</h1>
                </div>
                <div class="text-wrapper">
                    <h1 id="triggerFirst" class="quote">This is quote number two</h1>
                </div>
                <div class="text-wrapper">
                    <h1 id="triggerSecond" class="quote">This is quote number three</h1>
                </div>
            </div>
            <div class="right">
                <div class="image-wrapper">
                    <img class="image image-one" src="https://uploads.guim.co.uk/2021/09/09/1.jpg" alt="">
                    <img class="image image-two" src="https://uploads.guim.co.uk/2021/09/09/2.jpg" alt="">
                    <img class="image image-three" src="https://uploads.guim.co.uk/2021/09/09/3.jpg" alt="">
                    <img class="image image-four" src="https://uploads.guim.co.uk/2021/09/09/4.jpg" alt="">
                    <img class="image image-five" src="https://uploads.guim.co.uk/2021/09/09/5.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>